#container:nth-child(odd){
  /* display: inline-block; */
  box-shadow: 0 15px 30px 1px grey;
  text-align: center;
  border-radius: 5px;
  /* overflow: scroll; */
  height: 350px;
  width: 650px;
  float: left;
}
#container:nth-child(even){
	box-shadow: 0 15px 30px 1px grey;
	text-align: center;
	border-radius: 5px;
	/* overflow: scroll; */
	height: 350px;
	width: 650px;
	float: right;
  }

.product-details {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 40%;
}

#container .product-details h1 {
  font-family: "Bebas Neue", cursive;
  display: inline-block;
  position: relative;
  font-size: 30px;
  color: #ffffff;
  margin: 0;
}

#container .product-details > p {
  font-family: "EB Garamond", serif;
  text-align: center;
  font-size: 18px;
  color: #7d7d7d;
}

.product-image {
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 45%;
}

#container img {
  width: 100%;
  height: 100%;
}

.info h2 {
  text-align: center;
}
.product-image:hover .info {
  transform: translateX(0);
}

.product-image:hover img {
  transition: all 0.3s ease-in-out;
}
.product-image:hover img {
  transform: scale(1.2, 1.2);
}
